/* Main */
.add__product__container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 100px 0;
    width: 100%;
}
.add__product__form {
    align-items: center;
    border-radius: 3px;
    box-shadow: var(--box-shadow-hover);
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    margin: 25px 0;
    max-width: 700px;
    padding: 25px 15px;
    width: 90%;
}

.add__product__title {
    color: var(--text-primary-color);
    font-size: var(--subtitles);
    font-weight: 600;
}

.add__product__input {
    border: 1px solid grey;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: var(--primary-font);
    font-size: var(--subtitles-cards);
    outline: transparent;
    padding: 5px 15px;
    width: 100%;
}

@media (min-width:500px) {
    .add__product__form {
        min-width: 250px;
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .add__product__title {
        font-size: var(--desktop-logo);
        margin-bottom: 25px;
    }
    .add__product__form {
        gap: 25px;
        margin: 50px 0;
        padding: 50px;
    }
    .add__product__input {
        caret-color: var(--quinary-color);
        font-size: var(--desktop-subtitles-cards);
        padding: 15px;
    }
}
