.product {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    margin-bottom: 50px;
}

.product__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.product__img {
    width: 100%;
}
.product__img--item {
    max-width: 750px;
    width: 100%;
}

.product__description--container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 5%;
    width: 100%;
}
.product__title {
    font-size: var(--titles);
    font-weight: 600;
}
.product__price {
    font-size: var(--subtitles-cards);
    font-weight: 800;
}
.product__description {
    font-size: var(--texts);
    font-weight: 500;
}

@media (min-width: 500px) {
    .product__container {
        flex-direction: row;
        padding: 50px 5px;
        width: 100%;
    }
    .product__img {
        width: 50%;
    }
    .product__description--container {
        padding: 0 0 0 3%;
        width: 50%;
    }
}

@media (min-width: 922px) {
    .product__container {
        flex-direction: row;
        padding: 100px 50px;
        width: 100%;
    }
    .product__title {
        font-size: var(--desktop-subtitles);
        font-weight: 600;
    }
    .product__price {
        font-size: var(--desktop-subtitles-cards);
        font-weight: 800;
    }
    .product__description {
        font-size: var(--desktop-texts);
        font-weight: 500;
    }
}

@media (min-width: 1024px) {
    .product__container {
        flex-direction: row;
        padding: 100px;
        width: 100%;
    }
    .product__description--container {
        gap: 25px;
        padding: 0 0 0 3%;
        width: 50%;
    }
    .product__title {
        font-size: var(--desktop-titles);
        font-weight: 600;
    }
    .product__price {
        font-size: var(--desktop-logo);
        font-weight: 800;
    }
    .product__description {
        font-size: var(--desktop-subtitles);
        font-weight: 500;
    }
}